.table {
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 50px rgba(125, 125, 125, 0.25);

  &__head {
    width: 100%;

    tr {
      width: 100%;
      background: rgba(200, 200, 200, 0.5) !important;
      text-align: left;

      th {
        padding: 1rem 1rem !important;

        &:first-child {
          text-align: right;
        }
      }
    }
  }

  &__row,
  tr {
    width: 100%;
    display: grid;
    background: white;
    text-align: left;

    &:nth-child(even) {
      background: rgba(200, 200, 200, 0.05);
    }

    td {
      //   border: 1px solid rgba(125, 125, 125, 0.1);
      padding: 0.75rem 1rem;
      text-transform: capitalize;

      &:first-child {
        text-align: right;
      }
    }
  }
}

.users {
  &__table {
    &__row {
      grid-template-columns:
        50px minmax(50px, 1fr)
        minmax(70px, 1fr) minmax(50px, 1fr) minmax(50px, 100px);
    }

    &__email {
      text-transform: lowercase !important;
    }
  }
}

.modules {
  &__table {
    &__row {
      grid-template-columns:
        50px minmax(50px, 150px)
        minmax(70px, 1fr) minmax(50px, 1fr) minmax(50px, 200px) minmax(50px, 100px);
    }
  }
}
